DEFAULT_MODEL=TinyLlama/TinyLlama-1.1B-Chat-v1.0
LOCAL_BASE_MODEL_PATH=
KNOWLEDGE_BASE_PATH=knowledge_base.json
TOP_K_RETRIEVAL=3

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_ROLE=
